.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ADD8E6;

    h1 {
        font-size: 47px;
        text-align: center;
    }

    span {
        margin: 12px 0;
        color: #2f4f4f;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        border-bottom: #2f4f4f 1px solid;
    }
}

.area_input {
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        width: 100%;
        margin-bottom: 12px;
        height: 46px;
        background-color: #121212;
        border: 0;
        border-radius: 6px;
        color: #fff;
        padding: 0 12px;
        text-align: center;
        font-size: 18px;          
    }

    button {
        width: 100%;
        height: 46px;
        border: 0;
        border-radius: 6px;
        background-color: #357AFF;
        color: #FFF;
        font-size: 18px;
    }
    
}

h2 {
    margin-top: 28px;
    padding: 8px;
    text-align: center;
    font-style: italic;    
    color: #080808
}

@media screen and (max-width: 414px) {
    .area_input {
        width: 90%;
    }
}